body {
    background: #f5f5f5;
  }
  nav {
    background-color: #333;
    padding: 10px 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  li {
    display: inline-block;
    margin-right: 20px;
  }
  
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
  }
  
  a:hover {
    color: #ffcc00;
  }
  
  .carousel-inner, .carousel, .item, .container, .fill {
    height: 600px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
  }
  
  .carousel-item img {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
  
  .black-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .carousel-indicators {
    flex-direction: row;
    position: relative;
    left: 5px;
    top: 30%;
  }
  
  .carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px !important;
    height: 10px !important;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 1 !important;
    transition: opacity .6s ease;
  }
  
  .carousel-indicators li.active {
    background-color: #f25c05 !important;
  }
  
  .carousel-control-next {
    right: 20% !important;
  }
  
  .carousel-control-prev {
    right: 15px !important;
    left: auto !important;
  }
  
  .carousel-control-next {
    right: 15px !important;
    left: auto !important;
  }
  
  .carousel-control-next {
    position: absolute;
    top: 40% !important;
    bottom: 60%;
    height: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px !important;
    color: #fff;
    text-align: center;
    transition: opacity .15s ease;
    background-color: #f25c05;
    border: #f25c05;
    border-style: solid;
  }
  
  .carousel-control-prev {
    position: absolute;
    top: 50% !important;
    bottom: 50%;
    height: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px !important;
    color: #fff;
    text-align: center;
    transition: opacity .15s ease;
    border: white;
    border-style: solid;
  }
  
  .carousel-caption {
    position: absolute;
    top: 40%;
  }
  
  @media (max-width: 575.98px) {
    .navbar {
      background: #fff;
    }
    .navbar .navbar-brand, .navbar .nav-link {
      color: #555;
    }
    .carousel-caption {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .carousel-caption h5 {
      font-size: 40px;
      text-transform: capitalize;
    }
  }
  
  @media (min-width: 576px) and (max-width: 767.98px) {
    .navbar {
      background: #fff;
    }
    .navbar .navbar-brand, .navbar .nav-link {
      color: #555;
    }
    .carousel-caption {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .carousel-caption h5 {
      font-size: 40px;
      text-transform: capitalize;
      color: ffffff00 !important;
      -webkit-text-fill-color: #ffffff00;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: white;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) {
    .navbar {
      background: #fff;
    }
    .navbar .navbar-brand, .navbar .nav-link {
      color: #555;
    }
    .carousel-caption {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .carousel-caption h5 {
      font-size: 60px;
      text-transform: capitalize;
      color: ffffff00 !important;
      -webkit-text-fill-color: #ffffff00;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: white;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .carousel-caption {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .carousel-caption h5 {
      font-size: 60px;
      text-transform: capitalize;
      color: ffffff00 !important;
      -webkit-text-fill-color: #ffffff00;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: white;
    }
  }
  
  @media (min-width: 1200px) {
    .carousel-caption {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .carousel-caption h5 {
      font-size: 60px;
      text-transform: capitalize;
      color: ffffff00 !important;
      -webkit-text-fill-color: #ffffff00;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: white;
    }
  }
  